# ignore all file in excise with .aux/bbl/thm/xdv/out/log/, 
# in fact they are the intermidate files producted in the compile process of latex.
*
!.gitignore
!*.c
!*.cpp
!*.tex
!*.bib
!*.h
!*/
*.aux 
*.bbl
*.log
*.out
*.thm
*.xdv
*.bcf
*.gz
*.run.xml
*.cmake
*.pdf
*.synctex.gz
# add other files that git will ignore
build/*
